[Unit]
Description=Dashboard PI (Flask) - prod
After=network-online.target
Wants=network-online.target

[Container]
ContainerName=dashboard_pi
# ⚠️  Reemplaza <usuario> y <DIGEST> con el valor del job summary de GitHub Actions
Image=ghcr.io/proyectopi/dashboard_pi@sha256:4ae01cb94d0c3a8ed8480c53eb7e4d74081fc4d48605f317336f4714f95e0f18
Network=internal.network
Volume=dashboard_pi_data:/data:z
EnvironmentFile=/root/dashboard_pi.env
PodmanArgs=--memory=384m --cpus=0.6 --authfile /etc/containers/auth.json

[Service]
Restart=always

[Install]
WantedBy=multi-user.target default.target
